OmegaClient/nbproject/
OmegaClient/build/
OmegaClient/build.xml
OmegaClient/nbbuild/
OmegaClient/dist/
OmegaClient/nbdist/
OmegaClient/.nb-gradle/
OmegaServer/nbproject/
OmegaServer/build/
OmegaServer/build.xml
OmegaServer/nbbuild/
OmegaServer/dist/
OmegaServer/nbdist/
OmegaServer/.nb-gradle/
